body {
	font-family: 'Montserrat', sans-serif;
}
h1{
	letter-spacing: 0.06em; margin-bottom: 10px; text-align: center;
}

h3{
	font-size: 16;
}

#map {
	width: 100%; height: 80%; margin-top: 10px;
}

.info-window {
	font-family: 'Montserrat', sans-serif;
}

.info-content {
	color: #999;
}

.small-profile{
	font-family: 'Montserrat', sans-serif;
	font-size: 20;
	float: right;
	margin-top: 10px;
}

.btnCollapse{
	background-color: grey;
	color: white;
}

.brand{
	color: #FF931E;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  border-bottom: 1px solid #fff;
  border-radius: 3px;    
}

nav li {
  float: left;          
}